body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

/* header section started  */
.header {
  background-image: url("assets/img/header_bg.png"), url("assets/img/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-color: #fff8f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
}

.header-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.primary-color {
  color: #FD6E0A;
}

.header-unorder-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header-list {
  margin-left: 40px;
}

.orange-btn {
  font-size: 20px;
  font-weight: 400;
  border-radius: 3px;
  border: 0;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  background: #FD6E0A;
}

.list-1 {
  text-transform: capitalize;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-btn {
  margin-left: 20px;

}


/* header section end */
/* about me section started */

main {
  max-width: 1140px;
  background-color: rgb(245, 238, 225);
  margin: 0 auto;
}

.about-me-title {
  text-align: center;

}

.about-me {
  padding: 120px;
  margin: 120px 0px;
}

.about-me-text {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 30px;
}

.div-1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.about-me-heading {
  margin-bottom: 0px;
  font-weight: 300;
}

.about-me-data {
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
}

/* about me section end */

/* what i do section started */
.what-i-do-header {
  background-color: #fff8f3;
}

.what-i-do-title {
  text-align: center;
}

.what-i-do-details {
  text-align: center;
}

.what-i-do-section {
  padding: 120px;
  margin: 120px 0px;
}

.what-i-do-services {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  /* margin: 0px 40px; */
}

.services {
  background-color: rgb(21, 153, 153);
  /* border: 1px solid red; */
  margin-left: 15px;
  width: 200px;
  /* height: 300px;
  width: 180px; */
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 2px;
}

/* what i do section end */

/* resume section started */
.resume-section-title {
  text-align: center;
}

.education-and-experience {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.resume-header {
  padding: 40px 120px;
  margin-top: -100px;
}

.qualification {
  text-transform: capitalize;
}

.institution-name,
.my-experience-section h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.my-education-section h5,
.my-experience-section h5 {
  margin-bottom: 0px;
}

.my-education-section p,
.my-experience-section p {
  font-size: 12px;
}

/* resume section end */